Repository CLIuno/CLIuno-Express-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint . --fix"],
  "*.css": "prettier --write",
  "*.json": "prettier --write",
  "*.md": "prettier --write",
  "*.html": "prettier --write"
}

chore: update npm packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update npm packages
  package.json
Due: prettier --write

chore: blog as restful free
  Blog.postman_collection.json
  src/app.ts
  src/controllers/auth/auth.controller.ts
  src/controllers/auth/login.controller.ts
  src/controllers/auth/otp.controller.ts
  src/controllers/auth/register.controller.ts
  src/controllers/auth/resetPassword.contoller.ts
  src/controllers/auth/resetPassword.controller.ts
  src/controllers/comment.controller.ts
  src/controllers/permission.controller.ts
  src/controllers/post.controller.ts
  src/controllers/role.controller.ts
  src/controllers/user.controller.ts
  src/controllers/userRolePermission.controller.ts
  src/entities/comment.entity.ts
  src/entities/permission.entity.ts
  src/entities/post.entity.ts
  src/entities/role.entity.ts
  src/entities/user.entity.ts
  src/entities/userRolePermission.entity.ts
  src/helpers/email-sender.ts
  src/helpers/email-validator.ts
  src/helpers/utils.ts
  src/middlewares/auth.middleware.ts
  src/routers/index.ts
  src/routers/v1/auth.router.ts
  src/routers/v1/comment.router.ts
  src/routers/v1/permission.router.ts
  src/routers/v1/post.router.ts
  src/routers/v1/role.router.ts
  src/routers/v1/user.router.ts
  src/routers/v1/userRolePermission.router.ts
  src/validators/auth/change-password.validator.ts
  src/validators/auth/register.validator.ts
  src/validators/auth/reset-password.validator.ts
Due: prettier --write, eslint . --fix

fix: align rest api with the frontend contract
  src/controllers/auth/auth.controller.ts
  src/controllers/auth/register.controller.ts
  src/controllers/auth/resetPassword.controller.ts
  src/controllers/post.controller.ts
  src/controllers/role.controller.ts
  src/controllers/user.controller.ts
  src/entities/post.entity.ts
  src/middlewares/role.middleware.ts
  src/routers/v1/user.router.ts
Due: prettier --write, eslint . --fix

feat: align auth feature endpoints with the frontend contract
  src/controllers/auth/auth.controller.ts
  src/controllers/auth/otp.controller.ts
  src/controllers/auth/resetPassword.controller.ts
  src/routers/v1/auth.router.ts
Due: prettier --write, eslint . --fix

feat: complete the auth token contract
  CLAUDE.md
  src/controllers/auth/auth.controller.ts
  src/controllers/auth/register.controller.ts
  src/controllers/auth/resetPassword.controller.ts
  src/entities/user.entity.ts
  src/validators/auth/change-password.validator.ts
  src/validators/auth/reset-password.validator.ts
Due: prettier --write, eslint . --fix

ci: use pnpm 10 to match the workspace allowBuilds config
  .github/workflows/main.yml
Due: none

ci: group dependabot updates into a single PR per ecosystem
  .github/dependabot.yml
Due: none
